<span style="width:100px;height: 27px;">Mitglieder</span>
	<% users.each(function (user) { %>
			<img class="avatar" data-user-id="<%= user.id %>" src="<%= user.escape("gravatar_url") %>" />
	<% }); %>
